<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Login JavaScript Example</title>
    <style>
        #spinner {
            margin-top: 20%;
            margin-left: 40%;
            background: #4267b2;
            border-radius: 5px;
            color: white;
            height: 40px;
            text-align: center;
            width: 250px;
        }
    </style>
</head>
<body>

<div id="spinner">
    <div class="fb-login-button"
        data-max-rows="1"
        data-size="large"
        data-button-type="continue_with"
        data-use-continue-as="true"
        onlogin="checkLoginState();">
    </div>
</div>

<div id="user-info">
  <p>Welcome, <span id="user-name"></span>!</p>
  <button onclick="logout()">Logout</button>
</div>

<div id="status"></div>

<script>
    function statusChangeCallback(response) {
        console.log('statusChangeCallback', response);
        if (response.status === 'connected') {
            testAPI(response);
        } else {
            document.getElementById('status').innerHTML = 'Please log into this webpage.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId: '312166578405820',
            cookie: true,
            xfbml: true,
            version: 'v18.0'
        });
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };



    function testAPI(res) {
        console.log('Welcome! Fetching your information....');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);

            // Send the short-lived access token to your backend for exchange
            fetch('/facebook/callback?code=' + res.authResponse.accessToken)
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error sending authorization code to backend:', error));
        });

        document.getElementById('user-name').innerText = response.name;
        document.getElementById('user-info').style.display = 'block';
    }


    function logout() {
    // Clear user session and reload the page or redirect
    fetch('/logout')
        .then(() => window.location.reload());
    }
</script>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</body>
</html>
