<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>{{ title }}</h1>
  
  <a href="/connect/facebook">
    <button class="facebook">Connect with Facebook</button>
  </a>

  <a href="/connect/instagram">
    <button class="instagram">Connect with Instagram</button>
  </a>

  <a href="/connect/x">
    <button class="x">Connect with X</button>
  </a>

  <a href="/connect/tiktok">
    <button class="tiktok">Connect with TikTok</button>
  </a>
</body>

</html>
